data/big_data.txt
data/split/data_1.txt
data/split/data_2.txt
data/split/data_3.txt
data/split/data_4.txt
data/split/data_5.txt
data/split/data_6.txt
data/split/data_7.txt
data/split/data_8.txt
data/split/data_9.txt
data/split/data_10.txt
data/split/data_11.txt
data/split/data_12.txt
data/split/data_13.txt
data/split/data_14.txt
data/split/data_15.txt
data/split/data_16.txt
data/split/data_17.txt
data/split/data_18.txt
data/split/data_19.txt
data/split/data_20.txt
data/split/data_21.txt
data/split/data_22.txt
data/split/data_23.txt
data/split/data_24.txt
data/split/data_25.txt
data/split/data_26.txt
data/split/data_27.txt
data/split/data_28.txt
